@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

.anim {
  animation: scrollText 15s infinite linear;
}
.anim2 {
  animation: scrollText2 15s infinite linear;
}

.anim3 {
  animation: scrollText 15s infinite linear;
}
.anim4 {
  animation: scrollText2 15s infinite linear;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollText2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}
