@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

.anim {
  animation: animate 35s linear infinite;
}

@keyframes animate {
  from {
    transform: translateX(5%);
  }
  to {
    transform: translateX(-100%);
  }
}

.anim2 {
  animation: animate2 35s linear infinite;
}

@keyframes animate2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(5%);
  }
}

.anim3 {
  animation: animate3 35s linear infinite;
}

@keyframes animate3 {
  from {
    transform: translateX(9%);
  }
  to {
    transform: translateX(-100%);
  }
}

.anim4 {
  animation: animate4 35s linear infinite;
}

@keyframes animate4 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(9%);
  }
}
